.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms ease-in-out;
  font-family: "Raleway", sans-serif;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.modal {
  background: $light-blue;
  color: white;
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  border-radius: 0.85rem;
}

.modal__title {
  margin: 0 0 $m-size;
  font-family: "Lobster", cursive;
}

.modal__body {
  margin: 0 0 $l-size;
  font-size: 2rem;
  font-weight: light;
  word-break: break-all;
}
