//Partials _underscore

@import url("https://fonts.googleapis.com/css?family=Allura|Homemade+Apple|Julius+Sans+One|Lobster|Marcellus|Monoton|Raleway");
html {
  // make it 10 based(16*62,5%=10px) instead of 16px(1rem)
  font-size: 62.5%;
}
// "Lobster Two", cursive,

body {
  font-family: Arial, Helvetica, sans-serif;
  //   font-weight: 700;
  //   font-style: italic;
  font-size: $m-size;
  background: $dark-blue;
}

button {
  cursor: pointer;
  transition: color ease-in-out 500ms;
  transition: background-color;
}

button:disabled {
  cursor: default;
}
button:focus {
  outline: 0;
}
button:active {
  outline: none;
  border: none;
}

button:hover {
  transition: ease-in-out 500ms;
  color: rgb(0, 255, 149);
  // background-color: #b691ed;
}

input:focus {
  outline: 0;
}
